appdirs
bleach
click
decorator
html5lib
ipython
ipython-genutils
Keras
Markdown
numpy
olefile
packaging
pexpect
pickleshare
Pillow
prompt-toolkit
protobuf
ptyprocess
Pygments
pyparsing
PyYAML
scipy
simplegeneric
six
tensorflow
tensorflow-tensorboard
Theano
traitlets
wcwidth
Werkzeug